{% extends "emails/base_email.html" %}
{% block content %}
<div class="header">
    <h1>DBD I&T</h1>
    <p>Join Our Network!</p>
</div>
<div class="content">
    <h2>Welcome to Our Team, {{ name }}!</h2>
    <p>We're excited to have you join the DBD I&T interpreter network. Your expertise will help us continue to provide exceptional interpretation services to our clients.</p>
    
    <h3>Why Work With Us</h3>
    <ul class="values-list">
        {% for benefit in benefits %}
            <li>{{ benefit }}</li>
        {% endfor %}
    </ul>
    
    <a href="{{ login_url }}" class="button">Complete Your Profile</a>
</div>
<div class="footer">
    <p>DBD I&T - Professional Interpretation Services</p>
    <p>This email was sent to {{ email }}</p>
</div>
{% endblock %}